<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/reset.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <title>Report</title>
</head>

<body  data-mode="report"> <!-- або plan -->
  <div class="wrapper">
    <header class="header"></header>

    <main class="page">
      <div class="page__container">
        <h2 class="page__title">Quality Report</h2>
        <p class="page__text">Drag and drop Excel files here or click the button</p>

        <!-- Drop zone -->
        <div class="page__dropzone" id="dropZone">
          Drop: <strong>transport.xlsx</strong> + <strong>sales.xlsx</strong>
        </div>

        <!-- Date input -->
        <div class="page__date">
          <label for="reportDate">Select report date:</label><br />
          <input type="date" id="reportDate" class="page__input" />
        </div>

        <!-- Buttons -->
        <div class="page__footer">
          <input type="file" id="fileInput" multiple hidden />
          <button class="page__button" id="selectBtn">Select files</button>
          <button class="page__button" id="generateBtn" style="display: none;">Generate Report</button>
        </div>


        <div class="page__button">
          <a href="/index.html">← Back to Home</a>
        </div>
      </div>

      <!-- Modal -->
      <div id="modalMessage" class="modal" style="display: none;">
        <div class="modal__content">
          <p id="modalMessageText"></p>
          <button id="modalOkBtn" class="page__button">OK</button>
        </div>
      </div>
    </main>

    <footer class="footer"></footer>
  </div>

  <script src="/js/script.js"></script>
</body>

</html>